CloudHarvestCoreTasks @ git+https://github.com/Cloud-Harvest/CloudHarvestCoreTasks.git@0.8.1
cmd2
configparser
Flask
PyYAML
boto3
botocore
flatten-json
pexpect
pymongo
pytest
requests
rich
rich-argparse
setuptools
