Flask
PyYAML
boto3
flatten-json
pexpect
pymongo
rich
rich-argparse
setuptools
git+ssh://git@github.com/Cloud-Harvest/CloudHarvestCoreTasks.git
git+ssh://git@github.com/Cloud-Harvest/CloudHarvestCoreDataModel.git