report:
  name: reports.aws.rds.blue-green-deployments
  description: This report returns information about RDS Blue-Green Deployments.

  headers:
    - Account
    - Region
    - Identifier
    - Name
    - Status
    - Source
    - Target
    - Created

  tasks:
    - mongo:
        name: Get Blue-Green Deployments
        silo: harvest-core
        collection: aws.rds.blue-green-deployments
        filters: '.*'

        arguments:
          pipeline:
            - "$lookup":
                from: aws.rds.clusters
                localField: Source
                foreignField: DBClusterArn
                as: SourceDBCluster

            - "$lookup":
                from: aws.rds.clusters
                localField: Target
                foreignField: DBClusterArn
                as: TargetDBCluster

            # Set the SourceDBCluster and TargetDBCluster to null if not found
            - "$set":
                SourceDBCluster: { $ifNull: [ { $arrayElemAt: [ "$SourceDBCluster", 0 ] }, null ] }
                TargetDBCluster: { $ifNull: [ { $arrayElemAt: [ "$TargetDBCluster", 0 ] }, null ] }

            - "$project":
                Account: "$Harvest.Account"
                Region: "$Harvest.Region"
                Identifier: "$BlueGreenDeploymentIdentifier"
                Name: "$BlueGreenDeploymentName"
                Status: 1
                Source: "$SourceDBCluster.DBClusterIdentifier"
                SourceStatus: "$SourceDBCluster.Status"
                Target: "$TargetDBCluster.DBClusterIdentifier"
                TargetStatus: "$TargetDBCluster.Status"
                Created:
                  $dateToString:
                    date: "$CreatedAt"
